#myName{
    color:#9A3B3B;
}
#context{
    color:#C08261;
    margin: 35px;

}
#fun_fact{
    color:#C08261;
    margin: 35px;

}
#intro_fun{
    color:#8a5d45;
    margin: 35px;

}
#role{
    color:#8a5d45;
}
body{
    background-color: #F2ECBE;
}
